<!DOCTYPE html>
<html>
    
<head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <style>{{ source('home_style.css') }}</style>
    <link href="../template/static/css/style.css" rel="stylesheet" type="text/css" media="screen"/>
    {% block headtags %}{% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
    <nav>
      <div class="menu-icon"><span class="fas fa-bars"></span></div>
      <div class="logo">FuldaMarkt</div>
      <div class="nav-items">
        <li><a href="index.php">Home</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Market</a></li>
        <li><a href="#">About</a></li>
          {% if session.get('is_authenticated') %}
              <li><a href="logout.php">Logout</a></li>
          {% else %}
              <li><a href="login.php">Login</a></li>
              <li><a href="signup.php">Signup</a></li>
          {% endif %}


      </div>
        {% if session.get('is_authenticated') %}
            <a href="userhome.php" id="userhomelink">{% if session.get('user_info').full_name %}{{ session.get('user_info').full_name }}'s{% else %}User{% endif %} Home</a>
        {% endif %}
      <div class="search-icon"><span class="fas fa-search"></span></div>
      <div class="cancel-icon"><span class="fas fa-times"></span></div>
      <form action="#">
        <input type="search" class="search-data" placeholder="Search" required>
        <button type="submit" class="fas fa-search"></button>
      </form>
      <div class="profile"></div>
    </nav>


    {% if message %}
        <div id="reports">{{ message }}</div>
    {% endif %}
    {% if errors %}
    {% for error in errors %}
        <div id="errors">{{ error }}</div>
    {% endfor %}
    {% endif %}

    <div id="body" class="wrapper flex-grow-1">{% block body %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
            &copy; Copyright 2020 by <a href="#">FuldaMarkt </a>.
        {% endblock %}
    </div>

    <script>
    const menuBtn = document.querySelector(".menu-icon span");
    const searchBtn = document.querySelector(".search-icon");
    const cancelBtn = document.querySelector(".cancel-icon");
    const items = document.querySelector(".nav-items");
    const form = document.querySelector("form");
    menuBtn.onclick = ()=>{
      items.classList.add("active");
      menuBtn.classList.add("hide");
      searchBtn.classList.add("hide");
      cancelBtn.classList.add("show");
    }
    cancelBtn.onclick = ()=>{
      items.classList.remove("active");
      menuBtn.classList.remove("hide");
      searchBtn.classList.remove("hide");
      cancelBtn.classList.remove("show");
      form.classList.remove("active");
      cancelBtn.style.color = "#ff3d00";
    }
    searchBtn.onclick = ()=>{
      form.classList.add("active");
      searchBtn.classList.add("hide");
      cancelBtn.classList.add("show");
    }
  </script>

  </body>
</html>
