<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>

<ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
</ul>

<h1>{% block page_title %}{{ title }}{% endblock %}</h1>

{% if message != "" %}
    <div id="reports">{{ message }}</div>
{% endif %}

{% if errors != "" %}
    {% for error in errors %}
        <div id="reports">{{ error }}</div>
    {% endfor %}
{% endif %}

{% block body %}
    {{ body }}
{% endblock %}

</body>
</html>
