{% extends "base.twig" %}

{% block body %}
	<!--Main layout-->

	{% if product is defined %}
		<main>
			<div
				class="container">

				<!--Section: Block Content-->
				<section class="mb-5  my-5">

					<div class="row">
						<div class="col-md-6 mb-4 mb-md-0">

							<div
								id="mdb-lightbox-ui">
								<!-- Root element of PhotoSwipe. -->
								<div
									class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

									<!-- Background of PhotoSwipe. 
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								         It's a separate element, as animating opacity is faster than rgba(). -->
									<div class="pswp__bg"></div>

									<!-- Slides wrapper with overflow:hidden. -->
									<div class="pswp__scroll-wrap">

										<!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
										<!-- don't modify these 3 pswp__item elements, data is added later on. -->
											<div class="pswp__container"> <div class="pswp__item"></div>
											<div class="pswp__item"></div>
											<div class="pswp__item"></div>
										</div>

										<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
										<div class="pswp__ui pswp__ui--hidden">

											<div
												class="pswp__top-bar">

												<!--  Controls are self-explanatory. Order can be changed. -->

												<div class="pswp__counter"></div>

												<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

												<!--<button class="pswp__button pswp__button--share" title="Share"></button>-->

												<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

												<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

												<!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
												<!-- element will get class pswp__preloader--active when preloader is running -->
												<div class="pswp__preloader">
													<div class="pswp__preloader__icn">
														<div class="pswp__preloader__cut">
															<div class="pswp__preloader__donut"></div>
														</div>
													</div>
												</div>
											</div>


											<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

											<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

											<div class="pswp__caption">
												<div class="pswp__caption__center"></div>
											</div>

										</div>

									</div>

								</div>
							</div>

							<div class="mdb-lightbox" data-pswp-uid="1">

								<div class="row product-gallery mx-1">
									<div class="col-12 mb-0">
										{% for p in product_pictures %}
											{% for p2 in p['images'] %}
												<figure class="view overlay rounded z-depth-1 main-img" {{ loop.index == 1 ? 'style="max-height: 450px"' : 'style="display: none"'}}>
													<a href={{ "#{p['directory'] ~ p2}" }} data-size="710x823">
														<img src={{ "#{p['directory'] ~ p2}" }} class="img-fluid z-depth-1">
													</a>
												</figure>
											{% endfor %}
										{% endfor %}
									</div>
									<div class="col-12">
										<div class="row">
											{% for p in product_pictures %}
												{% for p2 in p['images'] %}
													<div class="col-3">
														<div class="view overlay rounded z-depth-1 gallery-item hoverable">
															<img src={{ "#{p['directory'] ~ p2}" }} class="img-fluid">
															<div class="mask rgba-white-slight"></div>
														</div>
													</div>
												{% endfor %}
											{% endfor %}

										</div>
									</div>
								</div>

							</div>

						</div>
						<div class="col-md-6">

							<h5>{{product.title}}</h5>
							<p class="mb-2 text-muted text-uppercase small">{{product.market_category}}</p>

							<p>
								<span class="mr-1">
									<strong>${{product.Price}}</strong>
								</span>
							</p>
							<p class="pt-1">{{product.text_body}}</p>
							<div class="table-responsive">
								<table class="table table-sm table-borderless mb-0">
									<tbody>
										<tr>
											<th class="pl-0 w-25" scope="row">
												<strong>Status</strong>
											</th>
											<td>{{product.Status}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<hr>

							<a class="btn btn-primary btn-md mr-1 mb-2 waves-effect waves-light" href="{% if session.get('is_authenticated') %}message.php?post_id={{ product.post_id}}&author_id={{ product.author_id}} {% else %} login.php?m=m{% endif %}" role="button">Contact Seller</a>
							{% if not isinWishlist %}
							<a class="btn btn-light btn-md mr-1 mb-2 waves-effect waves-light" href="{% if session.get('is_authenticated') %}add_to_wishlist.php?post_id={{ product.post_id}} {% else %} login.php?m=m{% endif %}" role="button">Add to Wishlist</a>
							{% else %}
							<a class="btn btn-light btn-md mr-1 mb-2 waves-effect waves-light" href="{% if session.get('is_authenticated') %}remove_from_wishlist.php?post_id={{ product.post_id}} {% else %} login.php?m=m{% endif %}" role="button">Remove From Wishlist</a>
							{% endif %}

						</div>
					</div>

				</section>
				<!--Section: Block Content-->

				<hr>
				{% if related_items is defined %}
					<h4 class="text-center my-5">
						<strong>Related Items</strong>
					</h4>

					<!--Section: Block Content-->
					<section
						class="text-center">

						<!-- Grid row -->
						<div class="row">
							{% for item in related_items %}
								<!-- Grid column -->
								<div
									class="col-md-6 col-lg-3 mb-5">

									<!-- Card -->
									<div class="">

										<div class="view zoom overlay z-depth-2 rounded">
											{% set filePath = '' %}
											{% for p in related_pictures %}
												{% if p['directory'] == item['picture'] %}
													{% set filePath = "#{p['directory'] ~ p['images']|first}"%}
												{% endif %}
											{% endfor %}
											<img class="img-fluid w-100" src={{filePath}} alt="Sample">
											<a href="item_detail.php?post_id={{ item.post_id }}&author_id={{ item.author_id }}">
												<div class="mask">
													<img class="img-fluid w-100" src={{filePath}}>
													<div class="mask rgba-black-slight"></div>
												</div>
											</a>
										</div>

										<div class="pt-4">
											<h5>
												<a href="item_detail.php?post_id={{ item.post_id }}&author_id={{ item.author_id }}">{{ item.title}}</a>
											</h5>
											<h6>{{item.Price}}</h6>
										</div>

									</div>
									<!-- Card -->

								</div>
								<!-- Grid column -->
							{% endfor %}


						</div>
						<!-- Grid row -->

					</section>
					<!--Section: Block Content-->
				{% endif %}


			</div>
		</main>

	{% endif %}

	<!--Main layout-->
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="static/js/mdb.min.js.download"></script>
	<!-- MDB Ecommerce JavaScript -->
	<script type="text/javascript" src="static/js/mdb.ecommerce.min.js.download"></script>
	<script>
		$(document).ready(function () { // MDB Lightbox Init
$(function () {
$("#mdb-lightbox-ui").load("../../../mdb-addons/mdb-lightbox-ui.html");
});
});
	</script>


	<div class="hiddendiv common"></div>
{% endblock %}
