{% extends "base.twig" %}

{% block body %}
    <p>{{ body }}</p>
    <form method="post" action="search_product.php">
        <fieldset>
            <legend>Search for items:</legend>
            <div>
                <label for="text_input">text_input</label>
                <input id="text_input" type="text" placeholder="What are you looking for?" name="text_input">
            </div>
            <div>
                <label for="categories">Choose a category</label>
                <select name="categories" id="categories">
                <option value="">All</option>
                <option value="Electronics">Electronics</option>
                <option value="Stationary">Stationary Equipment</option>
                <option value="Services">Services</option>
                </select>
            </div>
            <div>
                <label for="sort_by">Sort by</label>
                <select name="sort_by" id="sort_by">
                <option value="Price">Price</option>
                <option value="title">Name</option>
                </select>
            </div>
            <div>
                <button type="submit" name="submit">Search</button>
            </div>
        </fieldset>
    </form>
    {% if check_auth %}
       
            <div>
                <button type="button"><a href="create_product.php">Post an Item</a></button>
            </div>
        
    {% endif %}
    
    {% if result is defined %}
    <div>
        {% for r in result %}
        <h1>{{ r['title']}}</h1>
        <p>Date of Posting: {{ r['date_inserted']}}</p>
        <p>Market category: {{ r['market_category']}}</p> 
        <p>Price: {{ r['Price']}}&euro;</p>
        <p>Status: {{ r['Status']}}</p>
        <p>Description : {{ r['text_body']}}</p>
        {% for p in search_data_pictures %}
            {% if p['directory'] == r['picture'] %}
                {% for p2 in p['images'] %}
                    <img src={{ "#{p['directory'] ~ p2}" }}  width="500" height="600">
                {% endfor %} 
            {% endif %}
        {% endfor %} 
        {% endfor %}            
    
    </div> 
    {% endif %}
    

{% endblock %}

