{% extends "base.twig" %}

{% block body %}
    <p>{{ body }}</p>
    <form method="post" action="search_product.php">
        <fieldset>
            <legend>Search for items:</legend>
            <div>
                <label for="text_input">text_input</label>
                <input id="text_input" type="text" placeholder="What are you looking for?" name="text_input">
            </div>
            <div>
                <label for="categories">Choose a category</label>
                <select name="categories" id="categories">
                <option value="Electronics">Electronics</option>
                <option value="Stationary">Stationary Equipment</option>
                <option value="Services">Services</option>
                </select>
            </div>
            <div>
                <label for="sort_by">Sort by</label>
                <select name="sort_by" id="sort_by">
                <option value="Price">Price</option>
                <option value="title">Name</option>
                </select>
            </div>
            <div>
                <button type="submit" name="submit">Search</button>
            </div>
        </fieldset>
    </form>
    
    {% if result is defined %}
    <div>
    <table style="width:100%">
    <tr>
    <th>Title</th>
    <th>Posted on:</th>
    <th>Category</th>
    <th>Price</th>
    <th>Status</th>
    <th>Description</th>
    </tr>
            {% for r in result %}
            <tr>
            <td>{{ r['title']}}</td>
            <td>{{ r['date_inserted']}}</td>
            <td>{{ r['market_category']}}</td> 
            <td>{{ r['Price']}}&euro;</td>
            <td>{{ r['Status']}}</td>
            <td>{{ r['text_body']}}</td>
            </tr>
            {% endfor %}
            
    </table>
    </div> 
    {% endif %}
    

{% endblock %}

