{% extends "base.twig" %}

{% block headtags %}
    <script src="{{ path_url }}/vendor/components/jquery/jquery.min.js" type="text/javascript"></script>
    <link href="{{ path_url }}/vendor/components/jqueryui/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>
    <script src="{{ path_url }}/vendor/components/jqueryui/jquery-ui.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function()
        {
            $("#errors").hide();
        });
    </script>
{% endblock %}

{% block body %}

    {% if session.get('is_authenticated') %}
        <!-- Page Content -->
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-2">
                    <h2 class="my-4">{{ title }}</h2>
                    <div class="list-group">
                        <a href="userhome.php?section=products" class="list-group-item {% if data.section == null or data.section == 'products' %}active{% endif %}">Products</a>
                        {% if session.get('user_info').utype == 'ADMIN' %}
                        <a href="userhome.php?section=users" class="list-group-item {% if data.section == 'users' %}active{% endif %}">Users</a>
                        {% endif %}
                        <a href="userhome.php?section=messages" class="list-group-item {% if data.section == 'messages' %}active{% endif %}">Messages</a>
                    </div>
                </div>
                {% if (data.section == null or data.section == 'products') and session.get('user_info').utype != 'ADMIN' %}
                <div class="col-lg-10">
                    <h5 class="my-4">{{ body }}</h5>
                </div>
                {% endif %}
                {% if (data.section == null or data.section == 'products') and session.get('user_info').utype == 'ADMIN' %}
                <div class="col-lg-10">
                    <h5 class="my-4">{{ body }}</h5>
                    <div class="card mb-2 mt-1">
                        <div class="card-body bg-light text-dark">
                            <h5 class="card-title p-1">Products</h5>
                        </div>
                    </div>
                    <div class="card-body bg-light text-dark">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#Id</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Created By</th>
                            <th scope="col">Category</th>
                            <th scope="col">Price</th>
                            <th scope="col">Status</th>
                            <th scope="col">Toggle Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in data.productlist %}
                            <tr>
                                <th scope="row">{{ product.post_id }}</th>
                                <td><a class="text-primary" href="item_detail.php?post_id={{ product.post_id }}&author_id={{ product.author_id }}">{{ product.title }}</a></td>
                                <td>{{ product.date_inserted }}</td>
                                <td>{{ product.full_name }}</td>
                                <td>{{ product.market_category }}</td>
                                <td>{{ product.Price }} &euro;</td>
                                <td><i>{{ product.Status }}</i></td>
                                <td>{% if product.Status == 'available' %}<a class="btn btn-warning btn-md mr-1 mb-2 waves-effect waves-light" href="userhome.php?section=products&action=toggleStatus&post_id={{ product.post_id }}&status={{ product.Status }}">Disable</a>{% elseif product.Status == 'pending' %}<a class="btn btn-info btn-md mr-1 mb-2 waves-effect waves-light" href="userhome.php?section=products&action=toggleStatus&post_id={{ product.post_id }}&status={{ product.Status }}">Enable</a>{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                {% endif %}
                {% if data.section == 'users' and session.get('user_info').utype == 'ADMIN' %}
                    <div class="col-lg-10">
                        <h5 class="my-4">{{ body }}</h5>
                        <div class="card mb-2 mt-1">
                            <div class="card-body bg-light text-dark">
                                <h5 class="card-title p-1">Users</h5>
                            </div>
                        </div>

                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Username</th>
                                <th scope="col">User Type</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Last Login Date</th>
                                <th scope="col">Date Inserted</th>
                                <th scope="col">Date Updated</th>
                                <th scope="col">User Type Change</th>
                                <th scope="col">Enable/Disable</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in data.userlist %}
                            <tr>
                                <th scope="row">{{ user.id }}</th>
                                <td>{{ user.full_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.user_name }}</td>
                                <td>{{ user.utype }}</td>
                                <td>{% if user.gender == 'M' %}Male{% elseif user.gender == 'F' %}Female{% else %} Hidden {% endif %}</td>
                                <td>{{ user.date_lastlogin}}</td>
                                <td>{{ user.date_inserted }}</td>
                                <td>{{ user.date_updated }}</td>
                                <td>{% if user.utype != "ADMIN" %}<a class="btn btn-danger btn-md mr-1 mb-2" href="userhome.php?section=users&action=makeadmintoggle&uid={{ user.id }}&utype={{ user.utype }}">Make Admin</a>{% else %}<a class="btn btn-success btn-md mr-1 mb-2" href="userhome.php?section=users&action=makeadmintoggle&uid={{ user.id }}&utype={{ user.utype }}">Make Normal User</a>{% endif %}</td>
                                <td>{% if user.ustatus == 1 %}<a class="btn btn-warning btn-md mr-1 mb-2 waves-effect waves-light" href="userhome.php?section=users&action=ustatus&uid={{ user.id }}&ustatus={{ user.ustatus }}">Disable</a> {% else %}<a class="btn btn-info btn-md mr-1 mb-2 waves-effect waves-light" href="userhome.php?section=users&action=ustatus&uid={{ user.id }}&ustatus={{ user.ustatus }}">Enable</a>{% endif %}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if data.section == 'messages' %}
                <div class="col-lg-10">
                    <h5 class="my-4">{{ body }}</h5>
                    <div class="card mb-2 mt-1">
                        <div class="card-body bg-light text-dark">
                            <h5 class="card-title p-1">Inbox</h5>
                        </div>
                    </div>
                    {% for message in data.inboxmessages %}
                    <div class="card mb-4">
                        <div class="card-body">
                        <p>                       
                            <h5 class="card-title"><span class="text-small">{{loop.index}} |</span> <a class="text-secondary h5" data-toggle="collapse" href="#collapse{{ message.id}}" role="button" aria-expanded="false" aria-controls="collapse{{ message.id}}">Message from <strong class="text-success">{{ message.full_name }}</strong> about product </a><a class="text-primary" href="item_detail.php?post_id={{message.id_product}}&author_id={{message.author_id}}">{{ message.title }}</a></h5>
                            <div class="collapse" id="collapse{{message.id}}">
                                <div class="card card-body">
                                {{ message.body }}
                                </div>
                             </div>
                            <span>
                                <a href="{% if session.get('is_authenticated') %}message.php?post_id={{ message.id_product }}&author_id={{ message.id_sender }} {% else %} login.php?m=m{% endif %}" class="btn btn-primary">Reply</a>
                                {% if message.is_read == 0 %}
                                    <a class="btn btn-outline-warning btn-sm" href="userhome.php?section=messages&msgid={{ message.id }}&setisread=1">Mark as Read</a>
                                {% else %}
                                    <a class="btn btn-outline-danger btn-sm" href="userhome.php?section=messages&msgid={{ message.id }}&setisread=0">Mark as Unread</a>
                                {% endif %}
                            </span>
                            <p class="card-text float-right">{{ message.date_inserted|date("F jS Y \\a\\t g:ia") }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="card mb-2 mt-1">
                        <div class="card-body bg-light text-dark">
                            <h5 class="card-title p-1">Sent Messages</h5>
                        </div>
                    </div>
                    {% for message in data.sentmessages %}
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <span class="text-small">{{loop.index}} |</span>
                                    <a class="text-secondary h5" data-toggle="collapse" href="#collapse{{ message.id}}" role="button" aria-expanded="false" aria-controls="collapse{{ message.id}}">Message to <strong class="text-success">{{ message.full_name }}</strong> about product</a> <a class="text-primary" href="item_detail.php?post_id={{message.id_product}}&author_id={{message.author_id}}">{{ message.title }}</a>
                                </h5>
	                    	 <div class="collapse" id="collapse{{message.id}}">
                                <div class="card card-body">
                                {{ message.body }}
                                </div>
                             </div>
                                <a href="{% if session.get('is_authenticated') %}message.php?post_id={{ message.id_product }}&author_id={{ message.id_receiver }} {% else %} login.php?m=m{% endif %}" class="btn btn-primary">Send Message</a>
				 <p class="card-text float-right">{{ message.date_inserted|date("F jS Y \\a\\t g:ia") }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

        </div>
        <!-- /.container -->

    {% endif %}
{% endblock %}
