{% extends "base.twig" %}


{% block body %}


    <p>{{ body }}</p>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />


    
    
    {% if result is defined %}
    <div class="market-grid">
        {% for r in result %}
        <ul class="market-item">
            <li>
                <div class="view zoom overlay z-depth-2 rounded">
								{% set filePath = '' %}
								{% for p in search_data_pictures %}
									{% if p['directory'] == r['picture'] %}
										{% set filePath = "#{p['directory'] ~ p['images']|first}"%}
									{% endif %}
								{% endfor %}
								<img class="img-fluid w-100" src={{filePath}} alt="Sample" >
								<a href="item_detail.php?post_id={{ r.post_id }}&author_id={{ r.author_id }}">
									<div class="mask">
										<img class="img-fluid w-100" src={{filePath}}>
										<div class="mask rgba-black-slight"></div>
									</div>
								</a>
							</div>

                <a href="item_detail.php?post_id={{ r['post_id'] }}&author_id={{ r['author_id'] }}">{{ r['title']}}</a>
                <h3><a >{{ r['market_category']}}</a></h2>
                <a class="product-compare">{{ r['date_inserted']}}</a>
                
                <p class="product-description">{{ r['text_body']}}</p>
                <p>Status: {{ r['Status']}}</p>
                <a class="btn btn-primary btn-md mr-1 mb-2 waves-effect waves-light" href="{% if session.get('is_authenticated') %}message.php?post_id={{ r['post_id'] }}&author_id={{ r['author_id'] }} {% else %} login.php?m=m{% endif %}">Contact Seller</a>
                <p class="product-price">{{ r['Price']}}&euro;</p>
            </li>
        </ul>
        {% endfor %}            
    
    </div> 
    
    {% endif %}
    

{% endblock %}